div.card-header{
    font-size: 29px;
    color: #944E63;
    margin-top: 40px;
}

a.navbar-brand{
    font-weight: bolder;
    font-size: 27px;
    color: #944E63;
}
blockquote{
   color: #643843; 
}
.additional-content{
    font-size: 20px;
    margin-left: 3px;
    margin-top: 25px;
    color: #867060;
}
.card-title{
    font-size: 30px;
}
p.card-text{
    color: #944E63;
}
#button{
    background-color: #DC8686;
}
.img1{
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 10px;
    border:  3px groove #867060;
}
#images{
    text-align: center;
}
#heading{
    color:#a26969;
    text-align: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}